@using Freshlo.Web.Models.Financial
@using Freshlo.Web.Helpers
@using System.Globalization
@model DetailViewModel;
@{
    ViewData["Title"] = "Detail";
    @*@Model.ViewMessage = TempData["ViewMessage"];*@
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Financial Management</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascripts:;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="/Sale/Index/" class="m-nav__link">
                        <span class="m-nav__link-text">Home</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="/Financial/Manage/" class="m-nav__link">
                        <span class="m-nav__link-text">Financial Manage</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascripts:;" class="m-nav__link">
                        <span class="m-nav__link-text">Financial Entry Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-3">
            <div class="m-portlet" style="position: sticky !important;top: 80px;z-index: 3;">
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="mb-1 font-small-2">Entry Type</label>
                                <h6 class="font-medium-3 text-bold-600">@Model.FinanceDetails.Entry_Type_Desc</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mb-1 font-small-2">Payment Status</label>
                                <h6 class="font-medium-1 text-bold-600">
                                    <span class="m-badge m-badge--wide m-badge--rounded m-badge--@(FinanceHelper.StatusColor.ContainsKey(Model.FinanceDetails.Payment_Status) ? FinanceHelper.StatusColor[Model.FinanceDetails.Payment_Status] : "danger")">@Model.FinanceDetails.Payment_Status_Desc</span>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mb-1 font-small-2">Payment Mode</label>
                                <h6 class="font-medium-1 text-bold-600">
                                    <span class="m-badge m-badge--wide m-badge--rounded m-badge--@(FinanceHelper.StatusColor.ContainsKey(Model.FinanceDetails.Payment_Mode) ? FinanceHelper.StatusColor[Model.FinanceDetails.Payment_Mode] : "danger")">@Model.FinanceDetails.Payment_Mode_Desc</span>

                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mb-1 font-small-2">Payment Type </label>
                                @if (Model.FinanceDetails.Outward_Payment_Type == 0)
                                {
                                    <h6 class="font-medium-1 text-bold-600" id="">@Model.FinanceDetails.Inward_PaymentTypeDesc</h6>

                                }
                                else
                                {
                                    <h6 class="font-medium-1 text-bold-600" id="">@Model.FinanceDetails.Outward_PaymentTypeDesc</h6>

                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            @if (Model.FinanceDetails.Received_From == "")
                            {
                                <div class="form-group" style="display:none">
                                    <label class="mb-1 font-small-2">Recieved From</label>
                                    <h6 class="font-medium-1 text-bold-600">@Model.FinanceDetails.Received_From</h6>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="mb-1 font-small-2">Recieved From</label>
                                    <h6 class="font-medium-1 text-bold-600">@Model.FinanceDetails.Received_From</h6>
                                </div>
                            }

                        </div>

                    </div>
                    <hr class="mt-0" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="mb-1 font-small-2">Reference Number ( PO / Bill )</label>
                                <h6 class="font-medium-1 text-bold-600">@Model.FinanceDetails.Reference_No</h6>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="mb-1 font-small-2">Updated On</label>
                                <h6 class="font-medium-1 text-bold-600">@Model.FinanceDetails.Updated_On</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="mb-1 font-small-2">Updated By</label>
                                <h6 class="font-medium-1 text-bold-600">@Model.FinanceDetails.FullName</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tabs">
                        <div class="m-portlet__body">
                            <ul class="nav nav-tabs  m-tabs-line m-nav-tab-account-lookup" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active pt-0" data-toggle="tab" href="#finMainTab_1_1" role="tab">
                                        <i class="flaticon-info"></i> Financial Info
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!--Offer Info START-->
                                <div class="tab-pane active" id="finMainTab_1_1" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="m-form m-form--fit m-form--label-align-right" asp-controller="Financial" asp-action="UpdateFinancialDetail" id="FinanceUpdateFrom" method="post">
                                                <input asp-for="FinanceDetails.Id" type="text" class="form-control m-input m-input--solid" id="Id" name="Id" placeholder="Enter " hidden />
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Entry Type</label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <select asp-for="FinanceDetails.Entry_Type" class="form-control m-input m-input--solid" id="Entry_Type" name="Entry_Type" disabled selected>
                                                            <option value="1">Inward</option>
                                                            <option value="2">Outward</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="InPaymentType" style="display:none">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Payment Type</label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <select asp-for="FinanceDetails.Inward_Payment_Type" class="form-control m-input m-input--solid" name="Inward_Payment_Type" id="Payment_Type" disabled selected asp-items="@FinanceHelper.InwardList">
                                                            <option>Select Payment Type</option>
                                                         
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="OutPaymentType" style="display:none">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Payment Type</label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <select asp-for="FinanceDetails.Outward_Payment_Type" class="form-control m-input m-input--solid" name="Outward_Payment_Type" id="Payment_Type" disabled selected asp-items="@FinanceHelper.OutwardList">
                                                            <option>Select Payment Type</option>
                                                          
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row" style="display:none">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Others  <span class="text-warning">*</span></label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <input asp-for="FinanceDetails.Other_Payment" type="text" class="form-control m-input m-input--solid" id="Other_Payment" name="Other_Payment" placeholder="Enter " disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Reference Number ( PO / Bill )  <span class="text-warning">*</span></label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <input asp-for="FinanceDetails.Reference_No" type="text" class="form-control m-input m-input--solid" id="Reference_No" name="Reference_No" placeholder="Enter Refecent Number ( PO / Bill )" disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="Receivedpayment">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Recieved From <span class="text-warning">*</span></label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <input asp-for="FinanceDetails.Received_From" type="text" class="form-control m-input m-input--solid" id="Received_From" name="Received_From" placeholder="Enter Recieved From" disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="PaditoVendorName">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Paid To / Vendor Name <span class="text-warning">*</span></label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <input asp-for="FinanceDetails.Paid_To" type="text" class="form-control m-input m-input--solid" id="Paid_To" name="Paid_To" autocomplete="off" placeholder="Enter Paid To / Vendor Name" disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Payment Status  <span class="text-warning">*</span></label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <select asp-for="FinanceDetails.Payment_Status" class="form-control m-input m-input--solid" id="Payment_Status" name="Payment_Status" disabled selected>
                                                            <option value="1">Paid Fully </option>
                                                            <option value="2">Pending</option>
                                                            <option value="3">Partailly Paid</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Total Amount<span class="text-warning">*</span></label>
                                                    <div class="col-md-3 col-sm-3 col-6">
                                                        <input asp-for="FinanceDetails.Total_Amount" type="text" class="form-control m-input m-input--solid" id="Total_Amount" name="Total_Amount" autocomplete="off" placeholder="Enter Amount" disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group row 3paymentStatus paymentAmountShow">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Partial Amount<span class="text-warning">*</span></label>
                                                    <div class="col-md-3 col-sm-3 col-6">
                                                        <input asp-for="FinanceDetails.Partail_Amount" type="text" class="form-control m-input m-input--solid" id="Partail_Amount" name="Partail_Amount" autocomplete="off" placeholder="Enter Partial Amount" disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Payment Mode  <span class="text-warning">*</span></label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <select asp-for="FinanceDetails.Payment_Mode" class="form-control m-input m-input--solid" id="Payment_Mode" name="Payment_Mode" disabled selected>
                                                            <option value="1">Online </option>
                                                            <option value="2">Cash</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                @*<div class="form-group row">
                                                        <label class="col-md-3 col-sm-12 col-12 col-form-label">Recieved On  <span class="text-warning">*</span></label>
                                                        <div class="col-md-4 col-sm-4 col-12">
                                                            <div class="input-group date">
                                                                <input type="text" id="m_datetimepicker_6 Paid_On" name="Transaction_On" class="form-control m-input m-input--solid" value="@(Model.FinanceDetails.Transaction_On.ToString("dd MM yyyy", CultureInfo.InvariantCulture))" placeholder="Paid On" />
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-calendar-check-o"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Recieved On  <span class="text-warning">*</span></label>
                                                    <div class="col-md-3 col-sm-3 col-6">
                                                        <div class="input-group date">
                                                            <input type="text" id="m_datetimepicker_8" name="Transaction_On" autocomplete="off" class="form-control m-input m-input--solid" value="@(Model.FinanceDetails.Transaction_On.ToString("dd MM yyyy", CultureInfo.InvariantCulture))" placeholder="Paid On" disabled />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="la la-calendar-check-o"></i>
                                                                </span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-sm-12 col-12 col-form-label">Remarks</label>
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <textarea asp-for="FinanceDetails.Remark" rows="3" class="form-control m-input m-input--solid" id="Remark" name="Remark" placeholder="Enter Remark" disabled></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label"></label>
                                                    <div class="col-md-9 col-sm-9 col-6">
                                                        <button type="submit" class="btn btn-success mr-2" id="nextBtn" name="nextBtn" value="1"><i class="la la-upload"></i> Submit </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--Offer Info END-->
                                <!--Added START-->
                                <div class="tab-pane" id="finMainTab_1_2" role="tabpanel">

                                </div>
                                <!--Added END-->
                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="viewMessage1" value="@(Model.ViewMessage ?? "")">
<input type="hidden" id="errorMessage1" value="@(Model.ErrorMessage == null ? "" : Model.ErrorMessage)">

@section scripts {
    <script>
        $(document).ready(function () {
            $("#entryType").change(function () {
                $(this).find("option:selected").each(function () {
                    var optionValue = $(this).attr("value");
                    if (optionValue) {
                        $(".entryType").not("." + optionValue).hide();
                        $("." + optionValue).show();
                    } else {
                        $(".entryType").hide();
                    }
                });
            }).change();

            if ($('#Entry_Type').prop('value') == 1) {
                $('#InPaymentType').css('display', 'block');
                $('#OutPaymentType').css('display', 'none');
                $('#Receivedpayment').css('display', 'blcok');
                $('#PaditoVendorName').css('display', 'none');

                $(":disabled", $('#Entry_Type').appendTo("disabled"));

            }
            else {
                $('#InPaymentType').css('display', 'none');
                $('#OutPaymentType').css('display', 'block');
                $('#Receivedpayment').css('display', 'none');
                $('#PaditoVendorName').css('display', 'block');

            }



        });

     
    </script>
    <script src="~/assets/scripts/Financial/Detail.js"></script>

}

