@using Freshlo.DomainEntities.DTO
@using System.Globalization
@using Freshlo.Web.Helpers

@model List<PendingData>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    m-data-table
*@

<table class="table table-striped-even ab-table-head-bg-warning-light table-borderless table-middle table-white-space-th" id="cancelledSales">
    <thead>
        <tr>
            <th>Sales Id</th>
            <th>Customer Name</th>
            <th>Address</th>

            <th>Total Price</th>
            <th>Order Status</th>
            <th>Payment</th>
            <th>Order On</th>
            <th>Delivery Dt</th>
            <th>Bill Print</th>
        </tr>
    </thead>
    <tbody id="saleslist">
        @foreach (var saleslist in Model)
        {
        <tr>
            <td class="font-medium-4">
                <a href="/Sale/Detail/@saleslist.SalesOrder" class="text-link">@saleslist.SalesOrder</a>
            </td>
            @if (@saleslist.Name == "NOT Available")
            {
                <td>

                    <a href="#" class="text-link">@(saleslist.fullname == null ? "N/A" : saleslist.fullname)</a><span class="font-medium-4 display-block text-dark">@saleslist.phonenumber</span>

                </td>
            }
            else
            {
                <td>

                    <a href="#" class="text-link">@(saleslist.Name == null ? "N/A" : saleslist.Name)</a><span class="font-medium-4 display-block text-dark">@saleslist.ContactNo</span>

                </td>
            }

            <td class="text-dark font-medium-4" width="25%">
                @saleslist.BuildingName, @saleslist.RoomNo, @saleslist.Locality, @saleslist.Sector, @saleslist.ZipCode
            </td>
            <td>  <span class="CurrencyData">@saleslist.currencttype</span> <span class="font-medium-4 text-bold-700">@(Convert.ToDouble(saleslist.TotalPrice) + Convert.ToDouble(saleslist.DeliveryCharges) - (saleslist.Wallet))</span></td>

            <td><span class="m-badge m-badge--rounded m-badge--wide font-medium-4 m-badge--@(SalesHelpers.OrderStatusTag.ContainsKey(saleslist.OrderStatus) ? SalesHelpers.OrderStatusTag[saleslist.OrderStatus]:"info")">@saleslist.OrderStatus</span></td>


            <td><span class="m-badge m-badge--rounded m-badge--wide font-medium-4 m-badge--@(SalesHelpers.PaymentStatusTag.ContainsKey(saleslist.PaymentStatus) ? SalesHelpers.PaymentStatusTag[saleslist.PaymentStatus]:"Not Known")">@saleslist.PaymentStatus</span></td>

            <td class="text-dark font-medium-4">
                @saleslist.CreatedOn.ToString("dd-MMM-yyy", CultureInfo.InvariantCulture)
            </td>
            <td class="text-dark font-medium-4">
                @saleslist.DeliveryDate.ToString("dd-MMM-yyy", CultureInfo.InvariantCulture)
            </td>
            <td class="font-medium-4    ">
                <a href="@Url.Action("Index","Print",new { id1 = saleslist.SalesOrder })">
                    <i class="flaticon-technology text-muted"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    $('#cancelledSales').DataTable({
        "pageLength": 100,
        "ordering": false,
        "sorting": true
    });
</script>