@using Freshlo.DomainEntities.DTO
@using System.Globalization
@using Freshlo.Web.Helpers

@model List<PendingData>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    m-data-table
*@

<table class="table table-striped-even ab-table-head-bg-warning-light table-borderless table-middle table-white-space-th" id="deliveredSales">
    <thead>
        <tr>
            @*<th>Table No.</th>*@
            <th>Sales Id</th>
            <th>Customer Name</th>
            <th>Address</th>
            @*<th>Area</th>*@
            <th>Total Price</th>
            <th>Order Status</th>
            <th>Payment Status</th>
            <th>Payment Mode</th>
            <th>Order On</th>
            <th>Delivery Dt</th>
            <th>Bill Print</th>
        </tr>
    </thead>
    <tbody id="saleslist">
        @foreach (var saleslist in Model)
        {
        <tr>
            @*<td class="">
            <a href="/Sale/Detail/@saleslist.SalesOrder" class="text-link font-medium-1">@saleslist.tableName</a>
        </td>*@
            <td class="font-medium-4">
                <a href="#" class="text-link">@saleslist.SalesOrder</a>
            </td>
            <td>
                <span class="font-medium-4 text-bold-700">@(saleslist.Name == null ? "N/A" : saleslist.Name)</span><span class="font-small-3 display-block text-dark">@saleslist.ContactNo</span>

            </td>
            <td class="text-dark" width="25%">
                @saleslist.RoomNo, @saleslist.BuildingName, @saleslist.Sector, @saleslist.Locality, @saleslist.ZipCode
            </td>

            <td class="font-medium-4 text-bold-700">
                <span class="CurrencyData">@saleslist.currencttype</span>
                @if (saleslist.taxType == 1 && saleslist.taxbillType == 1 && saleslist.gstTax == 0)
                {
                    <span class="font-medium-4 text-bold-700">@(Convert.ToDouble(saleslist.TotalPrice) - (saleslist.Wallet) )</span>
                }
                else if (saleslist.taxType == 1 && saleslist.taxbillType == 2 && saleslist.gstTax == 0)
                {
                    <span class="font-medium-4 text-bold-700">@(Convert.ToDouble(saleslist.TaxableAmount))</span>
                }
                else if (saleslist.taxType == 1 && saleslist.taxbillType == 1 && saleslist.gstTax != 0)
                {
                    <span class="font-medium-4 text-bold-700">@(Convert.ToDouble(saleslist.TotalPrice) - (saleslist.Wallet) )</span>
                }
                else if (saleslist.taxType == 1 && saleslist.taxbillType == 2 && saleslist.gstTax != 0)
                {
                    <span class="font-medium-4 text-bold-700">@(Convert.ToDouble(saleslist.TaxableAmount))</span>
                }
                else if (saleslist.taxType == 2 && saleslist.taxbillType == 1)
                {
                    <span class="font-medium-4 text-bold-700">@(Convert.ToDouble(saleslist.TotalPrice) - (saleslist.Wallet) )</span>
                }
                else if (saleslist.taxType == 2 && saleslist.taxbillType == 1 && saleslist.gstTax == 2)
                {
                    <span class="font-medium-4 text-bold-700">@(Convert.ToDouble(saleslist.TaxableAmount))</span>
                }
                else
                {
                    <span class="font-medium-4 text-bold-700">@(Convert.ToDouble(saleslist.TaxableAmount) - (saleslist.Wallet) )</span>
                }
            </td>

            <td><span class=" m-badge m-badge--rounded m-badge--wide font-medium-4 text-uppercase m-badge--@(SalesHelpers.OrderStatusTag.ContainsKey(saleslist.OrderStatus) ? SalesHelpers.OrderStatusTag[saleslist.OrderStatus]:"info")">@saleslist.OrderStatus</span></td>
            <td><span class="m-badge m-badge--rounded m-badge--wide font-medium-4 text-uppercase m-badge--@(SalesHelpers.PaymentStatusTag.ContainsKey(saleslist.PaymentStatus) ? SalesHelpers.PaymentStatusTag[saleslist.PaymentStatus]:"Not Known")">@saleslist.PaymentStatus</span></td>
            <td><span class="m-badge m-badge--rounded m-badge--wide font-medium-4 text-uppercase ">@saleslist.PaymentMode</span></td>
            <td class="text-dark font-medium-4">
                @saleslist.CreatedOn.ToString("dd-MMM-yyyy ", CultureInfo.InvariantCulture)
            </td>
            <td class="text-dark font-medium-4">
                @saleslist.DeliveryDate.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)
            </td>
            <td>
                <a href="@Url.Action("Index","Print",new { id1 = saleslist.SalesOrder })">
                    <i class="flaticon-technology text-muted"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    $('#deliveredSales').DataTable({
        "pageLength": 10,
        "ordering": false,
        "sorting": true
    });
</script>