@using Freshlo.Web.Models.Account;
@model ChangePasswordViewMoel;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@{
    <style>
        .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
            border-radius: 4px;
            border: 1px solid;
            padding: 1.5rem 1.5rem;
            margin-top: 1.5rem;
        }
    </style>
}

<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" style="background-image: url(/assets/app/media/img//bg/bg-10.png);">
    <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
        <div class="m-login__container" style="background-color: white;padding:20px;border-radius: 5px;margin-top:-125px">
            <div class="m-login__logo">
                <a href="#">
                    <img src="@Model.businessInfo.logo_url" alt="Dastar Logo" style="width:120px;" />
                </a>
            </div>
            <div class="m-login__signin">
                <div class="m-login__head">
                    <h4 class="m-login__title">Change your password? Let's get you a new one.</h4>
                </div>
                <div class="">
                    <h3 class="">@Model.ErrorMessage</h3>
                </div>
                <form class="m-login__form m-form" asp-controller="Account" asp-action="ChangePassword" id="ChangePassForm" method="post">
                    <div class="form-group m-form__group">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input" id="OlddbPassword" name="" asp-for="OldPassword" style="display:none" />
                            <input type="text" class="form-control m-input" id="EmpId" name="EmpId" asp-for="EmailAddress" placeholder="UserId" readonly>
                            <span class="m-input-icon__icon m-input-icon__icon--right animated bounceIn password">
                                <span>
                                    <i class="la la-envelope-o" id="UserIDErr"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="password" class="form-control m-input" id="OldPassword" name="OldPassword" placeholder="Enter Old Password">
                            <span class="m-input-icon__icon m-input-icon__icon--right animated bounceIn OldPassword">
                                <span>
                                    <i class="la la-lock" id="oPasswordErr"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" id="setting" data-length="@Model.SecurityConfig.Password_Length"
                           data-spl-char="@Model.SecurityConfig.Allow_Special_Character"
                           data-numeric="@Model.SecurityConfig.Alpha_Numeric" data-case="@Model.SecurityConfig.Check_Capital" />
                    <div class="form-group m-form__group">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="password" class="form-control m-input" name="NewPassword" id="NewPassword" placeholder="Enter New Password">
                            <span class="m-input-icon__icon m-input-icon__icon--right animated bounceIn NewPassword">
                                <span>
                                    <i class="la la-lock" id="nPasswordErr"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="password" class="form-control m-input" id="ConfirmPassword" placeholder="Enter Confirm Password">
                            <span class="m-input-icon__icon m-input-icon__icon--right animated bounceIn ConfirmPassword">
                                <span>
                                    <i class="la la-lock" id="cPasswordErr"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group m-form__group mt-2">
                        <div id="NewPasswordErr" class="text-danger text-bold-700">Error Msg here</div>
                        <div id="OlddbPasswordErr" class="text-danger text-bold-700"></div>
                    </div>
                    <div class="m-login__form-action mt-4">
                        <button type="button" class="btn btn-brand btn-block" id="ChangePassId">Change Password</button>
                    </div>
                    <div class="form-group mt-4">
                        <p class="font-small-3">Note : Please enter your valid email address. We'll send you a reset link to change your password.</p>
                    </div>
                    <div class="mt-5">
                        <input type="hidden" id="errorMessage" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/scripts/Account/Changepassword.js"></script>
}