@model SalesVM;
@using System.Globalization
@{
    ViewData["Title"] = "_TodaySalesToPrint";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed mb-0" style="">
            <thead>
                <tr>
                    <td><h3>Table</h3></td>
                    <td><h3><strong>Customer</strong></h3></td>
                    <td class="text-center"><h3><strong> Payment</strong></h3></td>
                    <td class="text-center"><h3><strong> Mode</strong></h3></td>
                    <td class="text-right"><h3><strong>Amt.</strong></h3></td>
                </tr>
            </thead>
            <tbody id="printBody">
                @if (Model.GetTodaySalesList != null)
                {
                    @foreach (var item in Model.GetTodaySalesList)
                    {
                        <tr>
                            <td><h3>@item.tableName</h3></td>
                            <td><h3>@item.Name</h3></td>
                            <td class="text-center"><h3>@item.PaymentMode </h3></td>
                            <td class="text-center"><h3>@item.PaymentStatus </h3></td>
                            <td class="text-right"><h3>@item.TotalPrice</h3></td>

                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xs-3">
        <div class="text-left"><h4><strong>Total Sales : @Model.GetTodaySalesDetail.TotalCount</strong></h4></div>
    </div>
    <div class="col-xs-3">
        <div class="text-center"><strong></strong></div>
    </div>
    <div class="col-xs-6">

        <div class="text-right"><h4><strong>Total Amt : @Model.GetTodaySalesDetail.TotalAmt</strong></h4></div>

    </div>
    <div class="col-xs-6">

        <div class="text-right"><h4><strong>Cash Payment : @Model.GetTodaySalesDetail.CashPaymentCollect</strong></h4></div>

    </div>
    <div class="col-xs-6">

        <div class="text-right"><h4><strong>UPI Payments : @Model.GetTodaySalesDetail.UPIPaymentCollect</strong></h4></div>

    </div>
    <div class="col-xs-6">

        <div class="text-right"><h4><strong>Card Payment : @Model.GetTodaySalesDetail.CardPaymentCollect</strong></h4></div>

    </div>
</div>