@using Freshlo.Web.Models;
@model UserVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">User Management</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a href="/User/Manage/" class="m-nav__link">
                        <span class="m-nav__link-text">User Manage</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Create New User
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-md-12">
                    <form class="m-form m-form--fit m-form--label-align-right" enctype="multipart/form-data" action="/User/Create" id="CreateUser" method="post">
                        <div class="form-group row" style="display:none">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Status</label>
                            <div class="col-md-2 col-sm-3 col-6">
                                <select class="form-control m-input m-input--solid" id="Status" name="Status">
                                    <option value="InComplete Registration" selected>InComplete Registration</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                                <span class="text-danger font-small-3 " style="display:none;"></span>
                            </div>
                        </div>
                        <div class="form-group row" style="display:none">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">User Types</label>
                            <div class="col-md-2 col-sm-3 col-6">
                                <select class="form-control m-input m-input--solid" id="UserType" name="UserType">
                                    <option value="Internal Employee">Internal Employee</option>
                                    <option value="External Employee">External Employee</option>
                                </select>
                                <span class="text-danger font-small-3 " style="display:none;"></span>
                            </div>
                        </div>
                        <div class="form-group row InternalEmp">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Select Hub</label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <select class="form-control m-input m-input--solid" id="Branch" name="Branch">
                                    <option value="0" selected>Select Branch</option>
                                    @foreach (var hublist in Model.getHublist)
                                    {
                                        <option value="@hublist.HubId">@hublist.HubName -@hublist.Area</option>
                                    }
                                </select>
                                <span class="text-danger font-small-3 " id="spnbranch" style="display:none;"></span>
                            </div>
                        </div>
                        <div class="form-group row ParternType" style="display:none">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">External Employee</label>
                            <div class="col-md-2 col-sm-3 col-6">
                                <select class="form-control m-input m-input--solid" id="PartnerType" name="PartnerType">
                                    <option value="0" selected disabled>External Employee</option>
                                    @foreach (var getVendorlist in Model.getVendorList)
                                    {
                                        <option value="@getVendorlist.Vendorname">@getVendorlist.Vendorname</option>
                                    }
                                </select>
                                <span class="text-danger font-small-3 " style="display:none;" id="SpnPartnerType"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row UserRole">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">User Role <span class="text-warning">*</span></label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <select class="form-control m-input m-input--solid" id="UserRole" name="UserRole">
                                    <option value="0" selected disabled>Select User Role</option>
                                    <option value="System Admin">System Admin</option>
                                    <option value="Management">Management</option>
                                    <option value="Branch Manager">Branch Manager</option>
                                    <option value="delivery person">Delivery Boy</option>
                                    <option value="Supplier">Supplier</option>
                                    @*<option value="Kitchen Manager">Kitchen Manager</option>
                                        <option value="Cook">Cook</option>
                                        <option value="Steward">Steward</option>*@
                                    @*<option value="Cashier">Cashier</option>
                                        <option value="Sales Rep" hidden>Sales Rep</option>
                                        <option value="Purchaser" hidden>Purchaser</option>
                                        <option value="Driver" hidden>Driver</option>
                                        <option value="Packager" hidden>Packager</option>*@
                                </select>
                                <span class="text-danger font-small-3 " style="display:none;" id="SpnUserRole"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Full Name <span class="text-warning">*</span></label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <input type="text" class="form-control m-input m-input--solid SpaceValidation" id="FullName" name="FullName" placeholder="Enter Full Name" />
                                <span class="text-danger font-small-3 " style="display:none;" id="SpnFullName"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Login Id<span class="text-warning">*</span></label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <input type="text" class="form-control m-input m-input--solid SpaceValidation" id="LoginId" name="LoginId" placeholder="Enter LoginId" />
                                <span class="text-danger font-small-3 " style="display:none;" id="SpnLoginId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Email ID <span class="text-warning">*</span></label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <input type="text" class="form-control m-input m-input--solid SpaceValidation" id="EmailId" name="EmailId" placeholder="Enter Email ID" />
                                <span class="text-danger font-small-3 " style="display:none;" id="SpnEmailId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Contact Number <span class="text-warning">*</span></label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <input type="text" class="form-control m-input m-input--solid SpaceValidation" id="ContactNo" name="ContactNo" placeholder="Enter Contact Number" />
                                <span class="text-danger font-small-3 " style="display:none;" id="SpnContactNo"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Residence Permit (Iqama)<span class="text-warning">*</span></label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <textarea rows="1" class="form-control m-input m-input--solid SpaceValidation" id="Addharno" name="AdhaarNo" placeholder="Enter Residence Permit (Iqama)." style="resize:none;"></textarea>
                                <span class="text-danger font-small-3 " style="display:none;" id="SpnAddharno"></span>
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-md-3 col-sm-12 col-12 col-form-label">Pan No. <span class="text-warning">*</span></label>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <textarea rows="1" class="form-control m-input m-input--solid" id="PanNo" name="PanNo" placeholder="Enter Pan No." style="resize:none;"></textarea>
                                    <span class="text-danger font-small-3 " style="display:none;"></span>
                                </div>
                            </div>*@
                        <hr />
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Address Line 1  <span class="text-warning">*</span></label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <textarea rows="1" class="form-control m-input m-input--solid SpaceValidation" id="Address1" name="Address1" placeholder="Enter Address" style="resize:none;"></textarea>
                                <span class="text-danger font-small-3 " style="display:none;" id="SpnAddress1"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Address Line 2 <span class="text-warning">*</span></label>
                            <div class="col-md-3 col-sm-3 col-6">
                                <textarea rows="1" class="form-control m-input m-input--solid SpaceValidation" id="Address2" name="Address2" placeholder="Enter Address" style="resize:none;"></textarea>
                                <span class="text-danger font-small-3 " style="display:none;"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">City</label>
                            <div class="col-md-2 col-sm-3 col-6">
                                <input type="text" class="form-control m-input m-input--solid SpaceValidation" id="City" name="City" placeholder="Enter City" />
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-md-3 col-sm-12 col-12 col-form-label">State</label>
                                <div class="col-md-2 col-sm-3 col-6">
                                    <input type="text" class="form-control m-input m-input--solid" id="state" name="state" placeholder="Enter State" />
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Country</label>
                            <div class="col-md-2 col-sm-3 col-6">
                                <input type="text" class="form-control m-input m-input--solid SpaceValidation" id="country" name="country" placeholder="Enter Country" />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-12 col-form-label">Password</label>
                            <div class="col-md-2 col-sm-3 col-6">
                                <input type="password" class="form-control m-input m-input--solid SpaceValidation" id="Password" name="Password" placeholder="Enter Password" value="Pass@123" />
                                <span class="showpassword"><i class="la la-eye" style="position:absolute;top:11px;right:-30px;"></i></span>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-left:19%;margin-top:4%;display:block">
                            <label class="m-checkbox  m-checkbox--focus">
                                <input type="checkbox" name="IsfirstLoginTime" id="IsfirstLoginTime"> Setup Password on First Login
                                <span></span>
                            </label>
                            <input type="text" class="form-control m-input m-input--solid" id="IsfirstLogin" name="IsfirstLogin" hidden />
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"></label>
                            <div class="col-md-9 col-sm-9 col-6">
                                <button type="button" class="btn btn-success mr-2" id="nextBtn" name="nextBtn" value="1"><i class="la la-upload"></i> Submit </button>
                                <button type="reset" class="btn btn-link" id="clearBtn"><i class="la la-times"></i> Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="viewMessage1" value="@(Model.ViewMessage ??"")" />
<input type="hidden" id="errorMessage1" value="@(Model.ErrorMessage ?? "")" />

@section scripts {
    <script src="~/assets/scripts/user/create.js"></script>
}