@using Freshlo.Web.Models.InventoryVM
@model InventoryVM
@{
    ViewData["Title"] = "list";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Inventory </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                @*<li class="m-nav__item m-nav__item--home">
                        <a href="javascripts:;" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>*@
                @*<li class="m-nav__separator">-</li>*@
                @*<li class="m-nav__item">
                        <a href="/Home/Index/" class="m-nav__link">
                            <span class="m-nav__link-text">Home</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="/User/Manage/" class="m-nav__link">
                            <span class="m-nav__link-text">Notification Manage</span>
                        </a>
                    </li>*@
                @*<li class="m-nav__separator">-</li>*@
                <li class="m-nav__item">
                    <a href="javascripts:;" class="m-nav__link">
                        <span class="m-nav__link-text"> Inventory</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                     Inventory Lists
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-md-12">
                    <form class="m-form m-form--fit m-form--label-align-right" action="/Inventory/list/" enctype="multipart/form-data" id="Inventory-FormId" method="post">
                             <div class="m-portlet__body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped-even ab-table-head-bg-warning-light table-borderless table-middle m-data-table" id="zipcodelist">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Inventory Item</th>
                                                    <th>Before Quantity</th>
                                                    <th>Current Quantity</th>
                                                    <th>Unit Purchase Price</th>
                                                    <th>Current Purchase Price</th>
                                                    <th>Life Span</th>
                                                    <th>Is Serviceable</th>
                                                    <th>Createby</th>                                     
                                                </tr>
                                            </thead>
                                            <tbody id="inventoryassetList">
                                            @foreach (var item in Model.Inventory_Logs)
                                            {
    <tr>
        <td>@item.AssetsId </td>
        <td><spam class="font-medium-3 ">@item.AssetName</spam></td>
        <td><span class="font-medium-3 font-weight-bold" >@item.Quantity2</span></td>
       <td><span class="font-medium-3 font-weight-bold" >@item.Quantity</span></td>
       <td><spam class="font-medium-1" id="unitprice">@item.AssetsUnitPrice</spam></td>   
       <td><spam class="font-medium-1" id="unitprice1">@item.AssetUnitPrice2</spam></td>   

        <td><span class="font-medium-1">@item.AssetsLifespan </span></td>
       <td>
            @if(@item.IsServicable == 1)
            {
                <span class="font-medium-1 font-weight-bold">Yes</span>

            }
            else
            {
             <span class="font-medium-1 font-weight-bold">No</span>
            }
        </td>
       <td><span class="font-medium-1 font-weight-bold">@item.CreatedBy </span></td>
    </tr>
}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  
@section scripts {
    <script src="~/assets/app/js/datatable.js"></script>
    <script src="~/assets/scripts/Inventory/Inventory.js"></script>
}
