@using Freshlo.Web.Models.CustomerVM;
@using System.Globalization
@model CustomerManageVM;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-striped-even ab-table-head-bg-warning-light table-borderless" id="m_table_1">
    @if (Model.getCustomerList != null)
    {
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Contact No </th>
                <th>EmailId</th>
                <th>ZipCode</th>
                <th>CreatedOn</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="tbdyId">
            @if (Model.getCustomerList != null)
            {
                @foreach (var custlist in Model.getCustomerList)
                {
                    <tr>
                        <td>
                            <a href="/Customer/Detail/@custlist.Id" class="text-link">@custlist.CustomerId</a>
                        </td>
                        <td>@custlist.Name</td>
                        <td>@custlist.ContactNo</td>
                        <td>@custlist.EmailId</td>
                        <td>@custlist.ZipCode</td>
                        <td class="text-dark">
                            @custlist.CreatedOn.ToString("dd-MMM-yyyy", CultureInfo.InvariantCulture)
                            <span class="d-block font-small-2">@custlist.CreatedOn.ToString("hh:mm tt", CultureInfo.InvariantCulture)</span>
                        </td>
                        <td><span class="badge badge-@(custlist.Status == "Active" ? "success" : "danger")">@custlist.Status</span></td>
                    </tr>
                }
            }
        </tbody>
    }

    @if (Model.GetCustomerUnregOrderlist != null)
    {
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Contact No </th>
                <th>EmailId</th>
                <th>CreatedOn</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="tbdyId">
            @if (Model.GetCustomerUnregOrderlist != null)
            {
                @foreach (var custlist in Model.GetCustomerUnregOrderlist)
                {
                    <tr>
                        <td>
                            <a href="/Customer/Detail/@custlist.Id" class="text-link">@custlist.CustomerId</a>
                        </td>
                        <td>@custlist.Name</td>
                        <td>@custlist.ContactNo</td>
                        <td>@custlist.EmailId</td>
                        <td class="text-dark">
                            @custlist.CreatedOn.ToString("dd-MMM-yyyy", CultureInfo.InvariantCulture)
                            <span class="d-block font-small-2">@custlist.CreatedOn.ToString("hh:mm tt", CultureInfo.InvariantCulture)</span>
                        </td>
                        <td><span class="badge badge-@(custlist.Status == "Active" ? "success" : "danger")">@custlist.Status</span></td>
                    </tr>
                }
            }
        </tbody>
    }

</table>


<script>
    $('.m-data-table').DataTable({
        "pageLength": 10,
        "ordering": false,
        "sorting": true
    });
</script>