@using Freshlo.DomainEntities;
@using Freshlo.Web.Helpers;
@model SecurityConfig
<div class="row">
    <div class="col-md-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Password Policy
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-12">
                        <form class="m-form m-form--label-right" method="post" action="/Settings/_passwordSecurityPost/" id="_SecurityForm">
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Minimum Password Length <span class="text-danger">*</span></label>
                                <div class="col-2">
                                    <input type="number" min="6" max="20" class="form-control m-input--solid" placeholder="30" asp-for="@Model.Password_Length" name="Password_Length" id="Password_Length" data-val="true" data-val-required="The Password_Length field is required." value="8">
                                </div>
                                <label for="" class="col-3 col-form-label text-left">(Cannot be less than 8 characters)</label>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Restrict Same Password <span class="text-danger">*</span></label>
                                <div class="col-2">
                                    <input type="number" min="1" max="12" asp-for="@Model.Unique_Password_Count" name="Unique_Password_Count" id="Unique_Password_Count" class="form-control m-input--solid" placeholder="30" data-val="true" data-val-required="The Unique_Password_Count field is required." value="6">
                                </div>
                                <label for="" class="col-3 col-form-label text-left">(Maximum number is 12 )</label>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Session Idle Time<span class="text-danger">*</span></label>
                                <div class="col-2">
                                    <input type="number" min="1" max="1440" asp-for="@Model.Session_Expiry_Hours" name="Session_Expiry_Hours" id="Session_Expiry_Hours" class="form-control m-input--solid" placeholder="30" data-val="true" data-val-required="The Session_Expiry_Hours field is required." value="1">
                                </div>
                                <label for="" class="col-3 col-form-label text-left">(Maximum 1440 minutes)</label>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Password expires every <span class="text-danger">*</span></label>
                                <div class="col-2">
                                    <select class="form-control m-input--solid" asp-for="@Model.Password_Expiry_Day" name="Password_Expiry_Day" id="Password_Expiry_Day" data-val="true" asp-items="@GenericHelper.PasswordDays" data-val-required="The Password_Expiry_Day field is required."></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Remember password</label>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-1">
                                            <fieldset class="col-form-label float-left">
                                                <label class="ab-switch mb-0">
                                                    <input type="checkbox" name="Remember_Password" id="Remember_Password" value="true" checked="@(Model.Remember_Password?"checked":null)">
                                                    <span class="slider round"></span>
                                                </label>
                                            </fieldset>
                                        </div>
                                        <label for="" class="col-7 col-form-label text-left">YES</label>
                                    </div>
                                </div>
                            </div>
                            <div class="m-separator m-separator--border-dashed"></div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Max Login Attempts <span class="text-danger">*</span></label>
                                <div class="col-2">
                                    <input type="number" min="0" max="10" class="form-control m-input--solid" asp-for="@Model.Login_Attempt" name="Login_Attempt" id="Login_Attempt" placeholder="30" data-val="true" data-val-required="The Login_Attempt field is required." value="5">
                                </div>
                            </div>
                            <div class="m-separator m-separator--border-dashed"></div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label"></label>
                                <div class="col-9">
                                    <h6>Password Strength</h6>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Must contain atleast one special character (e.g. #$%+!)</label>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-1">
                                            <fieldset class="col-form-label float-left">
                                                <label class="ab-switch mb-0">
                                                    <input type="checkbox" name="Allow_Special_Character" id="Allow_Special_Character" value="true" checked="@(Model.Allow_Special_Character?"checked":null)">
                                                    <span class="slider round"></span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Must contain atleast upper and lower case character</label>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-1">
                                            <fieldset class="col-form-label float-left">
                                                <label class="ab-switch mb-0">
                                                    <input type="checkbox" name="Check_Capital" id="Check_Capital" value="true" checked="@(Model.Check_Capital?"checked":null)">
                                                    <span class="slider round"></span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label">Must contain atleast one numeric character</label>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-1">
                                            <fieldset class="col-form-label float-left">
                                                <label class="ab-switch mb-0">
                                                    <input type="checkbox" name="Alpha_Numeric" id="Alpha_Numeric" value="true" checked="@(Model.Alpha_Numeric?"checked":null)">
                                                    <span class="slider round"></span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-3">
                                        </div>
                                        <div class="col-9">
                                            <button type="button" id="BtnPassSecurity" class="btn btn-brand">Submit</button>
                                            <button type="reset" class="btn btn-link">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
