@using Freshlo.DomainEntities;
@using Freshlo.Web.Helpers;
@model BusinessInfo
<div class="row">
    <div class="col-md-12">
        <div class="m-portlet pb-3 mb-0">
            <form class="m-form m-form--fit m-form--label-align-right" method="post" enctype="multipart/form-data" asp-controller="Settings" asp-action="_businessInfoPost" id="_businessInfoForm">
                <!-- STORE INFO FORM -->
                <div class="row">
                    <div class="offset-md-2 col-md-10 pt-3 pb-1">
                        <h3 class="m-portlet__head-text">Business Information</h3>
                    </div>
                </div>
                <hr class="mt-0" />
                <div class="m-portlet__body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label mb-0">Main Brand Logo<span class="text-danger">*</span></label>
                        <div class="col-md-2">
                            <label class="cabinet center-block">
                                <figure>
                                    <img src="https://freshlo.oss-ap-south-1.aliyuncs.com/HurTex/logo/@(Model.hotel_id).png" class="gambar img-responsive img-thumbnail" id="item-img-output" />
                                    <figcaption><i class="fa fa-camera"></i></figcaption>
                                </figure>
                                <input type="file" class="item-img file center-block" name="UploadImage" id="UploadImage" hidden />
                                <input type="text" class="" name="logo_url" id="logo_url" asp-for="@Model.logo_url" style="display:none" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label mb-0">Logo for Bill Print (B/W)<span class="text-danger">*</span></label>
                        <div class="col-md-2">
                            <label class="cabinet center-block">
                                <figure>
                                    <img src="https://freshlo.oss-ap-south-1.aliyuncs.com/HurTex/logo/@(Model.hotel_id).2.png" class="gambar img-responsive img-thumbnail" id="item-img-output" onerror="this.onerror = null;
                                    this.src = 'https://freshlo.oss-ap-south-1.aliyuncs.com/HurTex/no-image.png';" alt="" />
                                    <figcaption><i class="fa fa-camera"></i></figcaption>
                                </figure>
                                <input type="file" class="item-img file center-block" name="SecondUploadImage" id="SecondUploadImage" hidden />
                                <input type="text" class="" name="printlogo_url" id="printlogo_url" asp-for="@Model.printlogo_url" style="display:none" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Brand Name<span class="text-danger">*</span></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="hotel_name" autocomplete="off" id="hotel_name" asp-for="@Model.hotel_name" placeholder="Enter Store Name" />
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="hotel_id" autocomplete="off" id="hotel_id" asp-for="@Model.hotel_id" hidden />
                            <span class="error font-small-3 error-empty-cls" id="storeName" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Brand Tag Line</label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="splashScreenMessage" autocomplete="off" id="splashScreenMessage" placeholder="" asp-for="@Model.splashScreenMessage" />
                            <span class="error font-small-3 error-empty-cls" id="bussinessEmail" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Business Type<span class="text-danger">*</span></label>
                        <div class="col-md-3">
                            <select class="form-control m-input--solid clear-cls" name="bussiness_type" id="bussiness_type" asp-for="@Model.bussiness_type" disabled>
                                <option value="0" disabled>Select Store Type</option>
                                <option value="1">Restaurant</option>
                                <option value="2">Cafes</option>
                                <option value="3">Fast Food</option>
                                <option value="4">Fine Dining</option>
                            </select>
                            <span class="error font-small-3 error-empty-cls" id="Store_Type" style="display: none; color: red;"></span>
                        </div>
                    </div>
                    <div class="form-group row" hidden>
                        <label class="col-md-3 col-form-label">Currency<span class="text-danger">*</span></label>
                        <div class="col-md-3">
                            <select class="form-control m-input--solid clear-cls" name="currency" id="currency" asp-for="@Model.currency">
                                <option value="0" selected disabled>Select Currency</option>
                                @foreach (var item in Model.getCurrencyList)
                                {
                                    <option value="@item.ShortCode" data-value="@item.symbol">@item.ShortCode</option>

                                }
                            </select>
                            <span class="error font-small-3 error-empty-cls" id="Currency" style="display: none; color: red;"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Country<span class="text-danger">*</span></label>
                        <div class="col-md-3">
                            <select class="form-control m-input--solid clear-cls" name="Country" id="Country" asp-for="@Model.Country">
                                <option value="0" selected disabled>Select Country</option>
                                <option value="India">India</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Dubai">Dubai</option>
                                <option value="Qatar">Qatar</option>
                            </select>
                            <span class="error font-small-3 error-empty-cls" id="Country" style="display: none; color: red;"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Time Zone<span class="text-danger">*</span></label>
                        <div class="col-md-5">
                            <select class="form-control m-input--solid clear-cls" name="TimeId" id="TimeId" asp-for="@Model.TimeId">
                                @foreach (var item in Model.getTimezoneList)
                                {
                                    <option value="@item.Id">@item.TimezoneName</option>

                                }

                            </select>
                            <span class="error font-small-3 error-empty-cls" id="Country" style="display: none; color: red;"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Primary Language</label>
                        <div class="col-md-3">
                            <div class="swictch-button">
                                <div class="switch-field">
                                    <input type="radio" id="radio-one" name="language_status" value="en" checked />
                                    <label for="radio-one">English</label>
                                    <input type="radio" id="radio-two" name="language_status" value="ar" />
                                    <label for="radio-two">عربي</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LEGAN INFO FORM -->
                <div class="row">
                    <div class="offset-md-2 col-md-10 pt-3 pb-1">
                        <h3 class="m-portlet__head-text">Business Legal Details</h3>
                    </div>
                </div>
                <hr class="mt-0" />
                <div class="m-portlet__body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Business Legal Name<span class="text-danger">*</span></label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="legalbusinessName" autocomplete="off" id="legalbusinessName" placeholder="Enter Business Legal Name" asp-for="@Model.legalbusinessName" />
                            <span class="error font-small-3 error-empty-cls" id="firstName" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Business Mobile Number<span class="text-danger">*</span></label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="contact_number" autocomplete="off" id="contact_number" placeholder="Enter Mobile Number" asp-for="@Model.contact_number" />
                            <span class="error font-small-3 error-empty-cls" id="number" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Bussiness Email Address</label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="business_emailaddress" autocomplete="off" id="business_emailaddress" placeholder="Enter Bussiness Email" asp-for="@Model.business_emailaddress" />
                            <span class="error font-small-3 error-empty-cls" id="bussinessEmail" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Website Address</label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="website" autocomplete="off" id="website" placeholder="Enter Bussiness Url" asp-for="@Model.website" />
                            <span class="error font-small-3 error-empty-cls" id="url" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Bill Footer Message</label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="thankhyouMessage" autocomplete="off" id="thankhyouMessage" placeholder="" asp-for="@Model.thankhyouMessage" />
                            <span class="error font-small-3 error-empty-cls" id="bussinessEmail" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Contact Person Name<span class="text-danger">*</span></label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="first_name" autocomplete="off" id="first_name" placeholder="Enter First Name" asp-for="@Model.first_name" />
                            <span class="error font-small-3 error-empty-cls" id="firstName" style="display: none; color: red;">This field is required</span>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="last_name" autocomplete="off" id="last_name" placeholder="Enter Last Name" asp-for="@Model.last_name" />
                            <span class="error font-small-3 error-empty-cls" id="lastName" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Contact Person Number</label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="alternate_contactnumber" autocomplete="off" id="alternate_contactnumber" placeholder="Enter Contact No" asp-for="@Model.alternate_contactnumber" />
                            <span class="error font-small-3 error-empty-cls" id="contact" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    @*<div class="form-group row">
            <label class="col-md-3 col-form-label">Last Name<span class="text-danger">*</span></label>

        </div>*@

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Contact Person Email Address<span class="text-danger">*</span></label>
                        <div class="col-3">
                            <input type="text" class="form-control m-input m-input--solid clear-cls" name="email" autocomplete="off" id="email" placeholder="Enter Email Address" asp-for="@Model.email" />
                            <span class="error font-small-3 error-empty-cls" id="email" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>                  
                </div>

                <!-- LICENSED INFO FORM -->
                <div class="row" style="display:none">
                    <div class="offset-md-2 col-md-10 pt-3 pb-1">
                        <h3 class="m-portlet__head-text">Licensed Info</h3>
                    </div>
                </div>
                <hr class="mt-0" />
                <div class="m-portlet__body" style="display:none">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">License number<span class="text-danger">*</span></label>
                        <div class="col-3">
                            <input type="number" class="form-control m-input m-input--solid clear-cls" name="LicenseNumber" autocomplete="off" id="LicenseNumber" placeholder="Enter License number" />
                            <span class="error font-small-3 error-empty-cls" id="LicenseNumber" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">VAT ID Number<span class="text-danger">*</span></label>
                        <div class="col-3">
                            <input type="number" class="form-control m-input m-input--solid clear-cls" name="VATID" autocomplete="off" id="VATID" placeholder="Enter VAT ID Number" />
                            <span class="error font-small-3 error-empty-cls" id="VATID" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">License copy<span class="text-danger">*</span></label>
                        <div class="col-3">
                            <input type="file" class="form-control m-input m-input--solid clear-cls" name="VATID" autocomplete="off" id="VATID" placeholder="Enter VAT ID Number" />
                            <span class="error font-small-3 error-empty-cls" id="VATID" style="display: none; color: red;">This field is required</span>
                        </div>
                    </div>
                </div>

                <hr />
                <!-- FORM BUTTON -->
                <div class="form-group row mb-0">
                    <label class="col-md-4 col-form-label"></label>
                    <div class="col-md-3 col-sm-9 col-6">
                        <button type="button" class="btn btn-success" id="editBusinessInfo">Save</button>
                        <button type="reset" class="btn btn-link">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

