@using Freshlo.Web.Models.ItemMaster;
@model ItemMasterVM;

<style>
    .myInput {
        /* Default text color when value is greater than 0 */
        color: black;
    }

    .myInput[value="0"] {
        /* Change text color to red when value is 0 or less */
        color: red;
    }

    .input-container {
        display: flex; /* Use flexbox to arrange the input and link horizontally */
        align-items: center; /* Vertically align items in the container */
    }

    #myInput {
        /* Your input styles */
        padding: 5px;
    }

    #myLink {
        /* Your link styles */
        margin-left: 10px; /* Add space between input and link */
        text-decoration: none; /* Remove underline from the link */
        color: blue; /* Link color */
    }

    #myLink:hover {
        /* Styles when hovering over the link */
        /* Styles when hovering over the link */
        text-decoration: underline; /* Underline link on hover */
    }
</style>


<table id="tblPricelistId" class="table table-striped-even ab-table-head-bg-warning-light table-borderless table-middle m-data-table dataTable">
    <thead>
        <tr>
            <th style="width:250px;">Item Name / Variance</th>
            <th>Barcode</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Selling Price</th>
            <th>Current Stock</th>
            <th>Visibility</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.getstocklist)
        {
            <tr>
                <td style="width:250px;">
                    @if (item.size == "Ut" || item.size == "NOVAR")
                    {
                        <a href="/ItemMaster/Detail/@item.Id" class="font-medium-1" id="pluName" name="pluNames">@item.PluName</a>
                    }
                    else
                    {
                         <a href="/ItemMaster/Detail/@item.Id" class="font-medium-1" id="pluName" name="pluNames">@item.PluName - @item.size</a>
                    }   
                    <input hidden value="9" name="Ids" />
                </td>
                <td> @item.Barcode</td>
                <td>@item.maincategory</td>
                <td>@item.category</td>
                <td >
                    <span class="d-flex align-items-center">
                        <input style="width:80px; display:inline-block" type="text" name="SellingProfitPers" data-pluName="@item.PluName" data-size="@item.size" data-priceId="@item.priceId" data-itemId="@item.ItemId" class="form-control m-input m-input--solid font-medium-3 font-weight-bold SellingProfitPer myInput" id="SellingProfitPer" value="@item.SellingPrice"/>
                        <a id="price_item_@item.priceId" style="display:none" class="ml-3">Updated</a>
                     </span>
                </td>
                <td class="input-container">
                    <span class="d-flex align-items-center"> 
                        <input style="width:100px;" type="text" data-pluName="@item.PluName" data-size="@item.size" data-priceId="@item.priceId" data-itemId="@item.ItemId" class="form-control m-input m-input--solid font-medium-3 font-weight-bold myInput" id="StockQty" value="@item.StockQty" />
                        <a id="update_item_@item.priceId" style="display:none" class="ml-3">Updated</a>
                     </span>
                </td>
                @if (@item.IsVisible != 0)
                 {
                  <td>
                      <span class="d-flex align-content-center">
                          <label class="ab-switch">
                          <input type="checkbox" value="@item.priceId" data-itemId="@item.ItemId" class="seasonSale" id="Isvisiable" checked>
                          <span class="slider round"></span>
                          </label>
                          <a id="Saved_item_@item.priceId" style="display:none" class="ml-3">Updated</a>
                      </span>         
                  </td>
                  }
                  else
                  {
                  <td>
                      <span class="d-flex align-content-center">
                          <label class="ab-switch">
                          <input type="checkbox" value="@item.priceId" data-itemId="@item.ItemId"  class="seasonSale"  id="Isvisiable">
                          <span class="slider round"></span>
                          </label>
                          <a id="Saved_item_@item.priceId" style="display:none" class="ml-3">Updated</a>
                      </span>       
                  </td>
                 }
         </tr>
        }
    </tbody>
</table>