@using Freshlo.Web.Models.CoupenVM;
@model CoupenVM;
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Coupen Management</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
            </ul>
        </div>
        <div>
            <button type="button" class="btn btn-dark" onclick="window.location.href='/Coupen/Create/'"><i class="la la-plus"></i> Create New</button>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        List of Coupen
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped-even ab-table-head-bg-warning-light table-borderless table-middle  m-data-table coupentbl">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Coupen Code</th>
                                    <th>Minimum OrderValue</th>
                                    <th>Max Discount</th>
                                    <th>Discount %</th>
                                    <th>Status</th>
                                    <th>Modified On</th>
                                    <th>Edit</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var coupen in Model.GetCoupenList)
                                {
                                <tr id="@coupen.Id">
                                    <td>@coupen.Title</td>
                                    <td>@coupen.CoupenCode</td>
                                    <td>@coupen.MinOrderValue</td>
                                    <td>@coupen.MaxDiscount</td>
                                    <td>@coupen.DiscountPercnt</td>
                                    <td>@coupen.Status</td>
                                    <td>@coupen.ModifiedDate.ToString("MMM dd yyyy")</td>
                                    <td><a href="/Coupen/Detail/@coupen.DecodeId" class="text-dark"> <i class="flaticon-edit"></i> </a></td>
                                    <td><a href="#" class="text-danger deleteId" data-id="@coupen.Id"> <i class="flaticon-delete deleteId"> </i></a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="viewMessage1" value="@(Model.ViewMessage ??"")" />
<input type="hidden" id="errorMessage1" value="@(Model.ErrorMessage ?? "")" />

@section scripts {
<script src="~/assets/scripts/Coupen/Manage.js"></script>
}

